@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    padding-left: 77px;
}

.header {
    margin-top: 40px;
    
}
.header h3 {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}
.main {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 118px;

}
.imageContainer img {
    width: 540px;
    height: 414px;
}
.content h1 {
    width: 586px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}
.content p {
    width: 381px;
    margin-top: 36px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}
button {
    margin-top: 64px;
    width: 216px;
    height: 68px;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 24px;
}
footer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}
footer a {
    color: #BDBDBD;
}

@media screen and (max-width : 720px) {
    section {
        margin: 0;
        padding: 24px;
        display: flex;
        flex-direction: column;
    }
    .main {
       flex-direction: column;
       gap: 64px;
    }
    .imageContainer img {
        text-align: center;
        width: 286px;
        height: 220px;
    }
    .content h1 {
        width: 350px;
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;
    }
    .content p {
        width: 328px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
    }
    footer {
        position: initial;
        margin-top: 64px;
        font-size: 14px;
    }
}